swagger: '2.0'
info:
  title: API de Consulta de Crédito
  version: 1.0.0
  description: |
    A **API de Consulta de Crédito** é uma solução avançada projetada para transformar a maneira como empresas e instituições financeiras avaliam o risco de crédito. Utilizando uma combinação robusta de tecnologia de ponta e dados precisos, nossa API oferece acesso instantâneo a informações detalhadas de CPF e CNPJ, possibilitando uma análise de crédito rápida, confiável e abrangente.

    **Recursos Principais:**

    - **Consulta Detalhada de CPF/CNPJ:** Obtenha informações essenciais, incluindo situação cadastral e dados de contato.
    - **Integração Simples e Flexível:** Com nossa documentação clara e suporte dedicado, integrar a API ao seu sistema é rápido e fácil, oferecendo flexibilidade para se adaptar a qualquer fluxo de trabalho de crédito.
    - **Compliance e Segurança:** Cumprimos rigorosamente com as regulamentações de proteção de dados para garantir que todas as informações sejam tratadas de forma segura e confidencial.

    **Ideal para:**

    - Instituições Financeiras: Bancos, cooperativas de crédito e fintechs que procuram otimizar suas avaliações de risco de crédito.
    - Empresas de Varejo: Negócios que oferecem crédito ao consumidor e desejam minimizar riscos de inadimplência.
    - Plataformas Online: E-commerces e serviços de assinatura buscando uma análise rápida de crédito para aprovação de novos clientes.

    **Comece a Usar:**

    Integrar a **API de Consulta de Crédito** ao seu sistema é o primeiro passo para transformar sua abordagem de análise de crédito. Com acesso a dados abrangentes e insights precisos, você pode otimizar suas operações de crédito, melhorar a experiência do cliente e impulsionar o crescimento do seu negócio.

    Para mais informações e para começar a usar a API, visite nosso portal de desenvolvedores em [https://aivision-tech.com/](https://aivision-tech.com/).
schemes:
  - https
host: aivisiontech.com.br
basePath: /apidocs
paths:
  /consulta_cpf:
    post:
      summary: Consulta de CPF
      description: |
        Este endpoint realiza uma consulta detalhada do CPF fornecido, buscando informações relevantes para análise de crédito. Utilize este serviço para obter dados cadastrais atualizados e indicadores financeiros que auxiliam na avaliação de risco de crédito de pessoas físicas.
      operationId: consultaCPF
      tags:
        - Consultas Básicas
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: CPF a ser consultado
          required: true
          schema:
            type: object
            required:
              - cpf
              - birthdate
            properties:
              cpf:
                type: string
                example: '123.456.789-01'
              birthdate:
                type: string
                example: '1985-04-22'
      responses:
        200:
          description: "A requisição foi processada com sucesso."
        400:
          description: Requisição inválida, CPF ou birthdate não fornecidos ou formato inválido
        600:
          description: Um erro inesperado ocorreu e será analisado
        601:
          description: Não foi possível se autenticar com o token informado
        602:
          description: O serviço informado na URL não é válido
        603:
          description: O token informado não tem autorização de acesso ao serviço. Verifique se ele continua ativo e se ele não possui algum limite de uso especificado
        604:
          description: A consulta não foi validada antes de pesquisar a fonte de origem
        605:
          description: A consulta não foi realizada dentro do tempo de limite de timeout especificado
        606:
          description: Parâmetros obrigatórios não foram enviados. Por favor, verifique a documentação de uso do serviço
        607:
          description: Parâmetro(s) inválido(s)
        608:
          description: Os parâmetros foram recusados pelo site ou aplicativo de origem que processou esta consulta
        609:
          description: Tentativas de consultar o site ou aplicativo de origem excedidas
        610:
          description: Falha em resolver algum tipo de CAPTCHA
        611:
          description: Os dados estão incompletos no site ou aplicativo de origem e não puderam ser retornados
        612:
          description: A consulta não retornou dados no site ou aplicativo de origem no qual a automação foi executada
        613:
          description: A consulta foi bloqueada pelo servidor do site ou aplicativo de origem. Por favor, tente novamente
        614:
          description: Um erro inesperado com o site ou aplicativo de origem ocorreu. Por favor, tente novamente
        615:
          description: O site ou aplicativo de origem parece estar indisponível
        617:
          description: Contate o prestador de serviço. Há uma sobrecarga de uso do serviço
        618:
          description: O site ou aplicativo de origem está sobrecarregado. Tente novamente em alguns instantes
        619:
          description: O parâmetro enviado sofreu alterações no site ou aplicativo de origem. Verifique a alteração diretamente no site ou aplicativo de origem
        620:
          description: O site ou aplicativo de origem emitiu um erro que provavelmente não mudará em breve para esta consulta. Leia-o para saber mais
        621:
          description: Houve um erro ao tentar gerar o arquivo de visualização desta requisição
        622:
          description: Parece que você está tentando realizar a mesma consulta diversas vezes seguidas. Por favor, verifique se há algum problema em sua integração. Se acredita que está tudo certo, entre em contato com o suporte
  /consulta_cnpj:
    post:
      summary: Consulta de CNPJ
      description: |
        Este endpoint realiza uma consulta detalhada do CNPJ fornecido, buscando informações relevantes para análise de crédito. Utilize este serviço para obter dados cadastrais atualizados e indicadores financeiros que auxiliam na avaliação de risco de crédito de pessoas físicas.
      operationId: consultaCNPJ
      tags:
        - Consultas Básicas
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: CNPJ a ser consultado
          required: true
          schema:
            type: object
            required:
              - cnpj  
            properties:
              cnpj:
                type: string
                example: '12.456.789/0001-10'

      responses:
        200:
          description: "A requisição foi processada com sucesso."
        400:
          description: Requisição inválida, CPF ou birthdate não fornecidos ou formato inválido
        600:
          description: Um erro inesperado ocorreu e será analisado
        601:
          description: Não foi possível se autenticar com o token informado
        602:
          description: O serviço informado na URL não é válido
        603:
          description: O token informado não tem autorização de acesso ao serviço. Verifique se ele continua ativo e se ele não possui algum limite de uso especificado
        604:
          description: A consulta não foi validada antes de pesquisar a fonte de origem
        605:
          description: A consulta não foi realizada dentro do tempo de limite de timeout especificado
        606:
          description: Parâmetros obrigatórios não foram enviados. Por favor, verifique a documentação de uso do serviço
        607:
          description: Parâmetro(s) inválido(s)
        608:
          description: Os parâmetros foram recusados pelo site ou aplicativo de origem que processou esta consulta
        609:
          description: Tentativas de consultar o site ou aplicativo de origem excedidas
        610:
          description: Falha em resolver algum tipo de CAPTCHA
        611:
          description: Os dados estão incompletos no site ou aplicativo de origem e não puderam ser retornados
        612:
          description: A consulta não retornou dados no site ou aplicativo de origem no qual a automação foi executada
        613:
          description: A consulta foi bloqueada pelo servidor do site ou aplicativo de origem. Por favor, tente novamente
        614:
          description: Um erro inesperado com o site ou aplicativo de origem ocorreu. Por favor, tente novamente
        615:
          description: O site ou aplicativo de origem parece estar indisponível
        617:
          description: Contate o prestador de serviço. Há uma sobrecarga de uso do serviço
        618:
          description: O site ou aplicativo de origem está sobrecarregado. Tente novamente em alguns instantes
        619:
          description: O parâmetro enviado sofreu alterações no site ou aplicativo de origem. Verifique a alteração diretamente no site ou aplicativo de origem
        620:
          description: O site ou aplicativo de origem emitiu um erro que provavelmente não mudará em breve para esta consulta. Leia-o para saber mais
        621:
          description: Houve um erro ao tentar gerar o arquivo de visualização desta requisição
        622:
          description: Parece que você está tentando realizar a mesma consulta diversas vezes seguidas. Por favor, verifique se há algum problema em sua integração. Se acredita que está tudo certo, entre em contato com o suporte
